<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payroll Management System</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/qll.mainn.css">
</head>
<body>
    
    <section class="project">
        <div class="card">
            <img src="images/payroll.jpg" alt="Payroll System">
            <div class="content">
                <h2>Payroll Management System</h2>
                <p>A complete payroll system for Manantan Digital Works. Compute salaries, manage employees, attendace, overtime, deductions and generate payslips</p>
                <div class="tech">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                </div>
                <div class="buttons">
                    <a href="#" class="demo">
                        <i class="fa-solid fa-globe"></i>
                        Live Demo
                    </a>
                     <a href="#" class="code">
                        <i class="fa-brand fa-github"></i>
                        Sourc Code
                    </a>
                     <a href="#" class="details">
                        <i class="fa-solid fa-circle-info"></i>
                        Details
                    </a>
                </div>
            </div>
        </div>
    </section>

    <script src="script.js"></script>
</body>
</html>